---
import { marked } from 'marked'
import { DateTime } from 'luxon'
import { getCollection } from 'astro:content'

import Base from '../layouts/Base.astro'
import LucideClock from '~icons/lucide/clock'
import LucideMapPin from '~icons/lucide/map-pin'
import LucideUserRound from '~icons/lucide/user-round'

import Section from '../components/Section.astro'
import Button from '../components/Button.astro'
import IconWithFallback from '../components/IconWithFallback.astro'
import con_dates from '../data/con/dates.json'
import Socials from '../content/socials.astro'
import { termsLinks } from '../layouts/Sidebar.astro'

const openLocations = await getCollection('scheduleOpenLocations')
const order = ['Bar', 'Fursuit Lounge', 'Photoshoot', "Dealers' Den"]
openLocations.sort((a, b) => order.indexOf(a.data.name) - order.indexOf(b.data.name))

const raw_tags = await getCollection('scheduleTags')
const raw_locations = await getCollection('scheduleLocations')
const raw_events = await getCollection('scheduleEvents')
const raw_event_labels_explained = await getCollection('eventLabelsExplained')

function shortenTime(time: string) {
  const date = DateTime.fromISO(time)
  let h = `${date.hour}`
  if (date.hour < 10) {
    h = `0${h}`
  }
  let m = `${date.minute}`
  if (date.minute < 10) {
    m = `0${m}`
  }
  return `${h}:${m}`
}

const all_events = raw_events.map((re) => {
  const start_unix = DateTime.fromISO(`${re.data.day}T${re.data.start_time}`).toUnixInteger()
  return {
    title: re.data.title,
    description: re.data.description,
    host: re.data.host_name,
    start_unix,
    day: re.data.day,
    start: shortenTime(re.data.start_time),
    end: shortenTime(re.data.end_time),
    location: raw_locations.find((l) => l.id == re.data.schedule_location?.id.toString())?.data.name,
    tags: re.data.schedule_tags.map((t) => {
      const rt = raw_tags.find((rt) => rt.id == t.id.toString())
      // console.log(rt)
      if (!rt) {
        return undefined
      } else {
        return { name: rt.data.name, icon: rt.data.icon, color: rt.data.color }
      }
    })
  }
})
all_events.sort((a, b) => a.start_unix - b.start_unix)

const days: { date: string; weekday: string; shortdate: string }[] = []
function add_day(date: string) {
  if (!days.find((day) => day.date == date)) {
    const parsed = DateTime.fromISO(date).setLocale('en-US')
    const weekday = parsed.toLocaleString({ weekday: 'long' })
    const shortdate = parsed.toLocaleString({ day: 'numeric', month: 'short' })
    days.push({ date: date, weekday, shortdate })
    return true
  }

  return false
}

all_events.forEach((event) => add_day(event.day))
const missing_dates = con_dates.filter((con_date) => add_day(con_date))
days.sort((a, b) => a.date.localeCompare(b.date))

const first_date = days[0]?.date
const buttonid = Math.random().toString(36).slice(2, 11)
const eventsid = Math.random().toString(36).slice(2, 11)
---

<style lang="scss">
  @use '../styles/charter';

  .event {
    &__status {
      font-weight: bold;
      text-transform: uppercase;
      font-family: var(--font-inter), sans-serif;

      &.upcoming {
        color: charter.$primary-800;
        background-color: #e6c2551a;
      }

      &.live {
        color: #0f8b83; // Flüüfff 25/Accent/700
        background-color: #e2f1f2; // Flüüfff 25/Primary/100
      }

      &.past {
        color: charter.$primary-800;
        background-color: #d6455d1a;
      }
    }

    &__labels {
      &--label {
        display: flex;
        flex-direction: column;
        font-family: var(--font-inter), sans-serif;

        border-top: 1px solid #5abbd8;

        &:first-child {
          border-top: none;
        }

        @media (min-width: 750px) {
          flex-direction: row;

          span:first-child {
            min-width: 250px;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .day-button {
    cursor: pointer;
  }

  .schedule__entry {
    border: 1px solid charter.$accent1-200;
    box-shadow: 0 1px 4px 0 rgba(25, 33, 61, 0.08);
  }

  svg.schedule__tag--icon {
    font-size: 20px;
  }
</style>

<Base>
  <Section outerClass="bg-accent1-50" grid="grid-col-1 justify-items-center" innerClass="w-full" gap="gap-8">
    <h2 class="font-atari text-2xl md:text-3xl">Schedule</h2>
    <p class="text-center">
      Your guide to five days of Flüüfff, from the first day's warm-up to the last day's closing hugs.
    </p>
    <div data-id={buttonid} class="flex flex-wrap gap-2 justify-center">
      {
        days.map((d) => (
          <button data-date={d.date} class="p-2 text-neutral-50 bg-accent1-500 rounded font-semibold day-button">
            <span class="hidden md:inline">{d.weekday}, </span>
            {d.shortdate}
          </button>
        ))
      }
    </div>
    <div data-id={eventsid} class="flex flex-col w-full gap-4">
      {
        missing_dates.map((date) => (
          <section
            data-date={date}
            class="flex flex-col gap-4 px-6 py-8 md:p-16 shadow-md bg-neutrals-50 rounded-md schedule__entry"
          >
            <h3 class="font-atari font-bold text-xl md:text-2xl text-center">Coming soon</h3>
            <div class="my-2 md:my-8">
              <p class="text-center">
                There’s nothing to see here yet because we’re still waiting on you to organise a panel on this day!
              </p>
              <br class="md:hidden" />
              <p class="text-center">We’re looking forward to seeing what you come up with.</p>
            </div>
            <div class="block md:flex justify-center">
              <Button outline accent1 to="/events#want-to-be-part-of-the-action" label="Host your own event" go />
            </div>
          </section>
        ))
      }
      {
        all_events.map((e) => (
          <section
            data-date={e.day}
            class="hidden flex flex-col gap-4 p-4 shadow-md bg-neutrals-50 rounded-md schedule__entry"
          >
            <div class="flex justify-between items-center">
              <p class="flex items-center gap-2">
                <LucideClock />
                {e.start} - {e.end}
              </p>
              <p class="bg-orange-200 rounded-sm p-1 event__status upcoming">upcoming</p>
            </div>
            <h3 class="font-atari font-bold text-xl md:text-2xl">{e.title}</h3>
            <div class="flex justify-between items-center">
              <p class="flex items-center gap-2">
                <LucideMapPin />
                {e.location || 'Unknown'}
              </p>
              <p class="flex items-center gap-2">
                <LucideUserRound />
                {e.host || 'Unknown'}
              </p>
            </div>
            <p set:html={marked.parse(e.description, { breaks: true })} />
            {e.tags.length != 0 ? <hr class="border-accent1-200" /> : ''}
            <div class="flex flex-wrap gap-2">
              {e.tags
                .filter((t) => t)
                .map((t) => {
                  return (
                    <p class="p-2 flex gap-2 items-center uppercase bg-accent1-50 border rounded-sm border-accent1-200 font-bold">
                      <IconWithFallback name={t!.icon} class="schedule__tag--icon" style={`color: ${t!.color}`} />
                      {t!.name}
                    </p>
                  )
                })}
            </div>
          </section>
        ))
      }
    </div>
  </Section>
  <Section grid="grid-col-1 justify-items-center" gap="gap-6">
    <h2 class="font-atari text-2xl md:text-3xl text-center">Event labels explained</h2>
    <p class="text-center">
      {raw_event_labels_explained[0]!.data.description}
    </p>
    <div class="grid items-center mt-4 event__labels">
      {
        raw_event_labels_explained[0]!.data.schedule_tags.map((t) => (
          <div class="p-4 event__labels--label">
            <span class="flex items-center gap-2 mb-2 uppercase font-bold">
              <IconWithFallback name={t.icon} class="schedule__tag--icon" style={`color: ${t.color}`} />
              {t.name}
            </span>
            <span class="flex">{t.description}</span>
          </div>
        ))
      }
    </div>
  </Section>
  <Socials />
</Base>

<script is:inline define:vars={{ buttonid, eventsid, first_date }}>
  const buttons = document.querySelectorAll(`[data-id="${buttonid}"] > button`)
  const events = document.querySelectorAll(`[data-id="${eventsid}"] > section`)

  let active_date = sessionStorage.getItem('schedule:active_date') ?? first_date

  const setActiveDate = (d) => {
    active_date = d
    sessionStorage.setItem('schedule:active_date', active_date)

    // toggle active buttons
    buttons.forEach((b) => {
      b.classList.remove('bg-accent1-500')
      b.classList.remove('bg-accent1-800')
      b.classList.add(b.dataset.date == d ? 'bg-accent1-800' : 'bg-accent1-500')
    })

    // if none of the buttons are active (outdated/edited sessionstorage) use first
    if (!Array.from(buttons).some((b) => b.classList.contains('bg-accent1-800'))) {
      return setActiveDate(first_date)
    }

    // toggle visible events
    events.forEach((e) => {
      if (e.dataset.date == d) {
        e.classList.remove('hidden')
      } else {
        e.classList.add('hidden')
      }
    })
  }
  setActiveDate(active_date)

  buttons.forEach((b) => {
    b.addEventListener('click', () => setActiveDate(b.dataset.date))
  })
</script>
