---
import { marked } from 'marked'
import { getCollection } from 'astro:content'
import Base from '../../layouts/Base.astro'
import Sidebar, { type SidebarLink } from '../../layouts/Sidebar.astro'
import Socials from '../../content/socials.astro'
import Accordion from '../../components/Accordion.vue'
import AccordionItem from '../../components/AccordionItem.astro'
import Faq from '../../content/Faq.astro'
import FaqItem from '../../content/FaqItem.astro'
import IconWithFallback from '../../components/IconWithFallback.astro'

const raw_dedicated_faq_page = await getCollection('dedicatedFaqPage')

export async function getStaticPaths() {
  const faq_pages = await getCollection('faqPages')
  return faq_pages
    .filter((faq_page) => faq_page.data.slug.startsWith('faq/'))
    .map((faq_page) => ({ params: { slug: faq_page.data.slug.split('faq/')[1] }, props: { faq_page: faq_page } }))
}

const faq_pages = raw_dedicated_faq_page[0]!.data.faq_pages

const faqLinks: SidebarLink[] = faq_pages.map((faq_page) => {
  return { icon: faq_page.icon, label: (faq_page.name ?? '').toUpperCase(), href: `/${faq_page.slug}` }
})

const faq_page = Astro.props.faq_page.data

const all_updated_ats: string[] = []
all_updated_ats.push(raw_dedicated_faq_page[0]!.data.updatedAt)
faq_pages.forEach((faq_page) => {
  all_updated_ats.push(faq_page.updatedAt)
  faq_page.faq_entries.map((faq_entry) => {
    all_updated_ats.push(faq_entry.updatedAt)
  })
})

const last_updated = all_updated_ats.sort((a, b) => a.localeCompare(b)).reverse()[0] ?? '1970-01-01T00:00:00.000Z'
---

<Base>
  <Sidebar links={faqLinks} iconClass="text-secondary-500" sidebarClass="bg-secondary-50" title="" description="">
    <section>
      <div class="content">
        <h1>{raw_dedicated_faq_page[0]!.data.title}</h1>
        <p>Last updated: {last_updated.split('T')[0]!.split('-').reverse().join('/')}</p>
        <p set:html={marked.parse(raw_dedicated_faq_page[0]!.data.description, { breaks: true })} />
      </div>
      <div class="content desktop-only">
        <h2 style="font-size: 24px; text-transform: none; font-family: var(--font-atari), sans-serif;">
          {faq_page.name}
        </h2>
        <Accordion class="dedicated-faq-page-accordion w-full" faq client:load>
          {
            faq_page.faq_entries.map((fe) => (
              <FaqItem question={fe.question} set:html={marked.parse(fe.answer, { breaks: true })} />
            ))
          }
        </Accordion>
      </div>
      <div class="content mobile-only">
        <Accordion class="dedicated-faq-page-accordion w-full" faq client:load>
          {
            faq_pages.map((fp) => (
              <AccordionItem showClose>
                <Fragment slot="header">
                  <>
                    <IconWithFallback name={fp.icon} class="text-2xl mr-2 inline" />
                    <span>{fp.name}</span>
                  </>
                </Fragment>
                {fp.faq_entries.map((fe) => (
                  <div>
                    <strong>{fe.question}</strong>
                    <div set:html={marked.parse(fe.answer, { breaks: true })} />
                    <hr class="border-accent2-100 my-6" />
                  </div>
                ))}
              </AccordionItem>
            ))
          }
        </Accordion>
      </div>
    </section>
  </Sidebar>
  <Socials />
</Base>

<style is:global lang="scss">
  @use '../../styles/text-styles';
  @use '../../styles/charter';

  .dedicated-faq-page-accordion {
    .accordion-item__content + .accordion-item__header {
      border-top: solid 1px charter.$accent2-300;
    }

    .accordion-item__header {
      @include text-styles.heading4;
      color: charter.$accent2-500;
    }

    hr:last-child {
      display: none;
    }
  }
</style>

<style scoped lang="scss">
  @use '../../styles/text-styles';
  @use '../../styles/charter';

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: calc(100vw - 360px);
    margin: 0 auto;

    @media (max-width: 900px) {
      width: 100vw;
    }
  }

  .content {
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: charter.$primary-800;

    &:first-child {
      padding-top: 80px;
    }

    &:not(:has(~ .content)) {
      padding-bottom: 80px;
    }

    @media (max-width: 600px) {
      padding: 20px;

      &:first-child {
        padding-top: 40px;
      }

      &:not(:has(~ .content)) {
        padding-bottom: 40px;
      }
    }

    h1 {
      @include text-styles.heading1;
      margin-bottom: 16px;

      @media (max-width: 600px) {
        @include text-styles.heading3;
      }
    }

    h2 {
      @include text-styles.heading4;
      margin-bottom: 16px;
    }

    p:not(:last-child) {
      margin-bottom: 16px;
    }

    a {
      color: charter.$primary-500;
    }

    ul > li {
      list-style-type: disc;
    }

    &.mobile-only {
      display: none;
    }
    @media (max-width: 900px) {
      &.desktop-only {
        display: none;
      }
      &.mobile-only {
        display: flex;
      }
    }
  }
</style>
